[Unit]
Description=NVR Live Service

[Service]
ExecStart=/usr/bin/bash scripts/live.sh
WorkingDirectory=__NVR_DIR__
Restart=always
RestartSec=10
User=__CURRENT_USER__

[Install]
WantedBy=multi-user.target
