[Unit]
Description=NVR HTTP Server
After=network.target

[Service]
ExecStart=__NVR_DIR__/web/venv/bin/python3 app.py
WorkingDirectory=__NVR_DIR__/web
User=__CURRENT_USER__
Restart=always

[Install]
WantedBy=multi-user.target
