[Unit]
Description=NVR HTTP Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m http.server 80
WorkingDirectory=__NVR_DIR__/data
User=root
Restart=always

[Install]
WantedBy=multi-user.target
